@font-face {
	font-family: BlackDiamonds;
	src: url(../fonts/BlackDiamonds.ttf) format("truetype");
}

@font-face {
	font-family: Gobold;
	src: url(../fonts/Gobold.ttf);
}

@font-face {
	font-family: Roboto;
	src: url(../fonts/Roboto-Regular.ttf);
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	min-height: 100%;
}

body {
	background-color: #f8eee3;
	font-family: Roboto;
	font-size: 24px;
	color: #4b4747;
}

.hide {
	visibility: hidden !important;
	margin-top: 100% !important;
	height: 0 !important;
	overflow: hidden !important;
	position: absolute;
}

/* Home */
.home,
.about,
.experience,
.work,
.contact {
	width: 100%;
	height: 70%;
	display: flex;
	justify-content: center;
	margin-top: 0;
	transition: margin-top 0.2s;
}

.homeContainer {
	width: auto;
	height: auto;
	align-self: center;
	text-align: center;
}

.headerText {
	font-family: BlackDiamonds, Fallback, Gobold;;
	font-size: 84px;
	color: #fc2020;
	display: block;
}

.subText {
	margin-top: 12px;
	font-family: Gobold;
	font-size: 36px;
	color: #fc2020;
	display: block;
}

/* About */

.aboutContainer {
	align-self: center;
	max-width: 100%;
	padding: 60px;
	height: auto;
}

/* Work */

.workContainer {
	align-self: center;
	width: 100%;
	height: 100%;
}

.workDisplay {
	margin-left: 5%;
	width: 45%;
	height: 100%;
	float: left;
	display: flex;
	justify-content: center;
}

.workDisplay > img {
	max-width: 100%;
	max-height: 100%;
	align-self: center;
	display: none;
}

.showImage {
	display: block !important;
}

.workText {
	width: 50%;
	height: 100%;
	float: left;
	display: flex;
}

.workTextSection {
	width: 95%;
	margin-left: 20px;
	height: 350px;
	align-self: center;
}

.workSelected {
	background-color: white !important;
}

.workTextBox {
	width: 100%;
	height: calc(100% / 3);
	display: flex;
	cursor: pointer;
}

.workTextBox:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

.workTextBox > div {
	align-self: center;
	width: 100%;
	height: auto;
}

.workTextBox > div > span {
	padding-left: 30px;
	display: block;
	font-family: Roboto;
	color: #4b4747;
}

/* Experience */

.experienceForm {
	padding: 0 30px;
	align-self: center;
}

.workTitle {
	font-weight: 600;
}

.tableTitle {
	padding-top: 36px;
	font-weight: bold;
}

.tableYear {
	padding-left: 120px;
}

/* Contact */

.contactContainer {
	align-self: center;
}

.contactContainer > span,
.contactContainer > a {
	display: block;
	padding: 20px 0;
}

.contactContainer > a {
	color: #5291d9;
	text-decoration: none;
}

.contactContainer > a:hover {
	color: #4778b0;
}

/* Navigation */

.navigation {
	background-color: #f8eee3;
	width: 100%;
	height: 30%;
	text-align: center;
	line-height: 50px;
}

.navigation > span {
	font-family: Gobold;
	font-size: 36px;
	color: #4b4747;
	margin: 10px 0;
	padding: 5px 30px;
	cursor: pointer;
}

.navigation > span:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

.navSelect {
	background-color: white !important;
}

@media only screen and (max-width: 768px) {
	.navigation > span {
		display: block;
	}

	.tableYear {
		padding-left: 15px;
	}

	.workText {
		display: block;
		width: 100%;
		padding: 0;
	}

	.workTextSection {
		width: 100%;
		margin: 0;
	}

	.workDisplay {
		width: 100%;
		height: 50%;
		margin: 0;
	}

	.workDisplay > img {
		width: 85%;
		height: 85%;
	}
	
	.aboutContainer: padding: 0;
}
